.container {
    border: 1px dashed salmon;
    min-height: 200px;
    position: relative;
    z-index: 10;
}
.item {
    background-color: aqua;
    border: 1px solid blue;
    padding: 140x;
}
.item2 {
    position: absolute;
    background-color: blueviolet;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
.item2x{
    background-color: bisque;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 10px;
    bottom: 50%;
}
.item1 {
    position: relative;
    z-index: 5;
    opacity: 0.9;
}

